## NA Exploration for Features - part 1
- see R script for part 2

In [1]:
import numpy as np
import pandas as pd

import os

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as colors

# from scipy.interpolate import interp1d

#import missingno as msno # doesn't work on Taylor

In [2]:
# retreive current working directory
os.getcwd()

'/Users/scognac/CropMosaiks/Modeling/na_summary'

In [3]:
### Define values for satellite, bands, and points to pull in files of interest

In [11]:
# define the satellite used:
satellite = "sentinel-2-l2a"
# satellite = "landsat-8-c2-l2"

# define the bands used
# bands = "2-3-4"
bands = "2-3-4-8"
# bands = "2-3-4-5-6-7"
# bands = "1-2-3-4-5-6-7"

# define the number of points to import the feature file of interest
# points = "4"
points = "15"
# points = "24"

# for file names without mention of bands:
#feature_file_name = (f'sentinel-2_ZMB_{points}'
#                     f'k-points_1000-features')

# for file names with bands specified:
feature_file_name = (f'{satellite}_bands-{bands}_ZMB_{points}k-points_1000-features')

### Append all feature data from the years of interest into a pandas dataframe

In [13]:
# define an empty dataframe for all feature data to be stored when exported from the following for loop
features = pd.DataFrame()

# open annual 15k point feather files in the features folder
for yr in range(2015, 2022):
    print("Opening:", yr)
    features_x = pd.read_feather(f"/capstone/cropmosaiks/data/features/{satellite}/{feature_file_name}_{yr}.feather")
    features_x = features_x.set_index(['lon','lat', 'year', 'month']).unstack()
    features_x.columns = features_x.columns.map(lambda x: '{}_{}'.format(*x))
    features_x = features_x.reset_index()
# drop latitiude and longitude columns
    features_x = features_x.drop(['lon', 'lat'], axis = 1)
# axis = 1 means col
    
# concatenate the feather files together, axis = 0 specifies to stack rows (rather than adding columns)
    features = pd.concat([features, features_x], axis=0)
    print("feature.shape", features.shape)
    print("Appending:", yr)
    print("")
features

Opening: 2015
feature.shape (11236, 6001)
Appending: 2015

Opening: 2016
feature.shape (26294, 12001)
Appending: 2016

Opening: 2017
feature.shape (41352, 12001)
Appending: 2017

Opening: 2018
feature.shape (56410, 12001)
Appending: 2018

Opening: 2019
feature.shape (71468, 12001)
Appending: 2019

Opening: 2020
feature.shape (86648, 12001)
Appending: 2020

Opening: 2021
feature.shape (101706, 12001)
Appending: 2021

,year,0_7,0_8,0_9,0_10,0_11,0_12,1_7,1_8,1_9,...,998_3,998_4,998_5,998_6,999_1,999_2,999_3,999_4,999_5,999_6
0,2015,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15053,2021,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,2.632173,NaN,2.589020,2.822099,NaN,NaN,2.367795,NaN,2.486929,2.852788
15054,2021,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,2.659132,NaN,2.730448,2.716308,NaN,NaN,2.361573,NaN,2.705972,2.994632
15055,2021,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,2.489535,NaN,2.428134,2.456143,NaN,NaN,2.320930,NaN,2.631809,2.824717
15056,2021,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,2.576953,NaN,2.607421,2.465636,NaN,NaN,2.330397,NaN,2.643231,2.666830
15057,2021,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,2.268734,NaN,2.628668,2.514973,NaN,NaN,3.608428,NaN,2.524389,2.627626

### The annual files each have the same number of columns, because each files contain the same number of features over the same amount of months. As each file is appended, the number of rows increases by the same amount of rows.

In [9]:
features_index = features.set_index(['year']).reset_index()
features_index

,year,0_7,0_8,0_9,0_10,0_11,0_12,1_7,1_8,1_9,...,998_3,998_4,998_5,998_6,999_1,999_2,999_3,999_4,999_5,999_6
0,2013,2.056618,0.194251,2.091074,2.816172,2.788222,NaN,5.139447,2.024621,5.872018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,1.220500,0.636690,1.427100,1.397124,1.454582,NaN,5.737722,2.361013,5.948103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,0.613796,0.932513,1.212646,1.343202,2.091501,NaN,5.434623,2.332427,5.900150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,2.081399,0.551564,1.628514,2.082382,1.969388,NaN,6.529383,2.408961,6.066109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,1.364542,0.537618,1.377896,1.586672,2.030896,NaN,5.858459,2.313629,6.016157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105741,2019,4.072289,3.496294,2.739329,2.890306,4.189613,NaN,4.403039,5.136688,5.310189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105742,2019,4.021033,3.005147,2.550640,2.343440,2.611231,NaN,4.537582,4.881625,5.819790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105743,2019,2.865218,2.242278,2.183730,1.963729,2.455507,NaN,3.816280,4.335760,5.044682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105744,2019,3.846508,2.831839,2.352909,2.306509,2.515645,NaN,4.435699,4.777686,6.704497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105745,2019,4.221631,3.136505,2.779662,1.813464,2.421087,NaN,4.893589,5.098379,5.380838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Convert the dataframe to a csv and feather file

In [10]:
# define what to name the saved .csv and .feather files in the Taylor folder 
saved_file_name = (f'{satellite}_bands-{bands}_ZMB_{points}k-points_1000-features_na-analysis')
# features_index.to_csv(f'/capstone/cropmosaiks/data/na_summary/{saved_file_name}.csv')
features_index.to_feather(f'/capstone/cropmosaiks/data/na_summary/{saved_file_name}.feather')

## Switch to R script