# Modeling Agricultural Variables
## Python modules

In [1]:
import warnings
import time
import os

import dask
from dask.distributed import Client

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import matplotlib.colors as colors

import geopandas as gpd

import pyarrow
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from scipy.stats import spearmanr
from scipy.linalg import LinAlgWarning
from scipy.stats import pearsonr

import math
import seaborn as sns

/tmp/ipykernel_1572420/1258974890.py:14: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

## Mild Preprocessing
### 1. Load in the data

First, we load in the feature data. This data was aggregated in the ___ notebook

In [2]:
# Let's read in the new concatenated features:
features = pd.read_feather("/capstone/mosaiks/repos/modeling/data/features_zmb_save.feather")
features

,0,1,2,3,4,5,6,7,8,9,...,994,995,996,997,998,999,lon,lat,year,month
0,0.000185,0.0,0.000639,0.520889,0.017403,0.0,0.003055,1.075246,0.0,0.0,...,0.004387,2.898772,3.899328,0.019313,0.956588,0.000149,27.800588,-16.343257,2015,7
1,0.000165,0.0,0.000140,0.506241,0.010501,0.0,0.001828,1.070585,0.0,0.0,...,0.003691,2.874976,3.857865,0.023663,0.927871,0.000587,27.790588,-16.343257,2015,7
2,0.000679,0.0,0.001090,0.584611,0.021318,0.0,0.006663,1.202663,0.0,0.0,...,0.007180,2.960961,3.987956,0.021282,0.891021,0.000574,27.780588,-16.353257,2015,7
3,0.000502,0.0,0.003195,0.692933,0.034732,0.0,0.009775,1.366068,0.0,0.0,...,0.008007,3.097285,4.168679,0.009190,0.847190,0.000006,27.720588,-16.363257,2015,7
4,0.000162,0.0,0.003317,0.766315,0.039693,0.0,0.013185,1.480798,0.0,0.0,...,0.008061,3.172538,4.296293,0.017217,0.834277,0.000000,27.730588,-16.363257,2015,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034999,0.000000,0.0,0.000217,0.085536,0.025475,0.0,0.001209,0.212549,0.0,0.0,...,0.007517,2.484955,3.056849,0.012967,1.129552,0.002476,28.140588,-16.823257,2022,12
4035000,0.000000,0.0,0.000000,0.000803,0.002420,0.0,0.000000,0.039272,0.0,0.0,...,0.009920,2.331653,2.837192,0.013162,1.169880,0.007800,28.100588,-16.853257,2022,12
4035001,0.000000,0.0,0.000001,0.000502,0.003187,0.0,0.000000,0.061772,0.0,0.0,...,0.009111,2.369148,2.861904,0.016885,1.135216,0.007031,27.900588,-16.933257,2022,12
4035002,0.000000,0.0,0.000002,0.001599,0.000599,0.0,0.000000,0.058527,0.0,0.0,...,0.004152,2.377326,2.879677,0.017378,1.150566,0.010170,27.870588,-16.933257,2022,12
4035003,0.000000,0.0,0.000002,0.000188,0.002042,0.0,0.000000,0.010342,0.0,0.0,...,0.010244,2.277874,2.738677,0.022954,1.146575,0.010713,27.830588,-16.943257,2022,12

### Ground-Truth Data
Next, we read in our ground truth data, which was processed in the preprocessing notebook

In [3]:
# Name list because gpd doesn't read in column names correctly
names = ["sea_unq", "year", "total_area_planted_ha", "total_area_harv_ha", "total_area_lost_ha",
         "total_harv_yield_kg", "avg_yield_kgha", "frac_area_harv", "frac_area_loss",
         "area_lost_animal_bird_destruction", "area_lost_floods_heavy_rain", "area_lost_na",
         "area_lost_wilting_due_to_drought", "area_lost_water_logging", "area_lost_soil_generally_bad",
         "area_lost_pests_and_diseases", "area_lost_fire", "area_lost_lack_of_fertilizer", "maize",
         "groundnuts", "frac_loss_drought", 'log_yield', 'loss_ind', 'drought_loss_ind', "geometry"]

# Read in the survey data
country_sea = gpd.read_file('/capstone/mosaiks/repos/preprocessing/ground_data_clean/total3.shp')

ERROR 1: PROJ: proj_create_from_database: Open of /Users/gabriellesmith/.conda/envs/mosaiks/share/proj failed

We're going to make another object `sea_unq_join` which contains the spatial information and a unique key for each SEA. This will be handy later, when we need to join the features to the ground-truth data.

In [4]:
# Filter country_sea for unique values of 'seq_unq' and 'geometry'
sea_unq_join = country_sea[['sea_unq', 'geometry']].drop_duplicates()

# Display the filtered DataFrame
print(sea_unq_join)

      sea_unq                                           geometry
0           1  POLYGON ((27.82327 -13.65772, 27.82294 -13.657...
12          2  POLYGON ((27.99349 -13.46497, 27.99352 -13.464...
24          3  POLYGON ((28.09909 -13.51864, 28.09867 -13.516...
36          4  POLYGON ((28.31924 -13.42915, 28.31911 -13.426...
48          5  POLYGON ((28.39982 -13.51544, 28.40012 -13.514...
...       ...                                                ...
4347      388  POLYGON ((25.07771 -14.63920, 25.07732 -14.638...
4355      389  POLYGON ((22.74142 -14.00343, 22.73856 -14.002...
4363      390  POLYGON ((23.08604 -14.20026, 23.08957 -14.202...
4371      391  POLYGON ((24.36764 -16.62208, 24.36564 -16.621...
4379      392  POLYGON ((23.23962 -16.31204, 23.23876 -16.312...

[392 rows x 2 columns]

### 2. Organize the features by growing season

In [5]:
# Organize the features by growing season
# Carry months October, November, and December over to the following year's data
# These months represent the start of the growing season for the following year's maize yield
year_end = 2022

features['year'] = np.where(
    features['month'].isin([10, 11, 12]),
    features['year'] + 1, 
    features['year'])

features_gs = features[features['year'] <= year_end]

features_gs.sort_values(['year', 'month'], inplace=True)

/tmp/ipykernel_1572420/261356123.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_gs.sort_values(['year', 'month'], inplace=True)

### 3. Convert the features into a geo dataframe

In [6]:
# Create a geodataframe of the new features
features_new_gdf = gpd.GeoDataFrame(
    features_gs, 
    geometry = gpd.points_from_xy(x = features_gs.lon, y = features_gs.lat), 
    crs='EPSG:4326'
)

In [7]:
features_new_gdf

,0,1,2,3,4,5,6,7,8,9,...,995,996,997,998,999,lon,lat,year,month,geometry
0,0.000185,0.0,6.386607e-04,0.520889,0.017403,0.0,0.003055,1.075246,0.0,0.0,...,2.898772,3.899328,0.019313,0.956588,0.000149,27.800588,-16.343257,2015,7,POINT (27.80059 -16.34326)
1,0.000165,0.0,1.404076e-04,0.506241,0.010501,0.0,0.001828,1.070585,0.0,0.0,...,2.874976,3.857865,0.023663,0.927871,0.000587,27.790588,-16.343257,2015,7,POINT (27.79059 -16.34326)
2,0.000679,0.0,1.089753e-03,0.584611,0.021318,0.0,0.006663,1.202663,0.0,0.0,...,2.960961,3.987956,0.021282,0.891021,0.000574,27.780588,-16.353257,2015,7,POINT (27.78059 -16.35326)
3,0.000502,0.0,3.194927e-03,0.692933,0.034732,0.0,0.009775,1.366068,0.0,0.0,...,3.097285,4.168679,0.009190,0.847190,0.000006,27.720588,-16.363257,2015,7,POINT (27.72059 -16.36326)
4,0.000162,0.0,3.316988e-03,0.766315,0.039693,0.0,0.013185,1.480798,0.0,0.0,...,3.172538,4.296293,0.017217,0.834277,0.000000,27.730588,-16.363257,2015,7,POINT (27.73059 -16.36326)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513402,0.000000,0.0,1.830568e-07,0.062333,0.020700,0.0,0.001249,0.123465,0.0,0.0,...,2.356939,2.800332,0.014697,1.063967,0.003308,28.140588,-16.823257,2022,12,POINT (28.14059 -16.82326)
3513403,0.000000,0.0,0.000000e+00,0.000000,0.002201,0.0,0.000000,0.000954,0.0,0.0,...,2.237035,2.626476,0.018015,1.095296,0.008401,28.100588,-16.853257,2022,12,POINT (28.10059 -16.85326)
3513404,0.000000,0.0,0.000000e+00,0.000000,0.000549,0.0,0.000000,0.000000,0.0,0.0,...,1.965624,2.296301,0.163124,1.157992,0.029564,27.900588,-16.933257,2022,12,POINT (27.90059 -16.93326)
3513405,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,1.931872,2.235770,0.196215,1.144749,0.056101,27.870588,-16.933257,2022,12,POINT (27.87059 -16.93326)
3513406,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,1.826193,2.080719,0.289099,1.127885,0.165132,27.830588,-16.943257,2022,12,POINT (27.83059 -16.94326)

## Pivot Wider by months

Since we want each row to represent one location per year, we can use the .unstack() function to pivot wider all rows with the same lat/lon and year. This results in a dataframe with 12,000 columns (1,000 columns for each month).

In [8]:
# Store the 'geometry' column separately before unstacking
geometry_col = features_new_gdf[['lon', 'lat', 'geometry']].drop_duplicates(subset=['lon', 'lat'])

# Perform the unstacking operation without the 'geometry' column
features_gs_no_geometry = features_gs.drop(columns=['geometry'])
features = features_gs_no_geometry.set_index(['lon', 'lat', 'year', 'month']).unstack()
features.columns = features.columns.map(lambda x: '{}_{}'.format(*x))

# Merge the 'geometry' column back into the features DataFrame
features = features.reset_index().merge(geometry_col, on=['lon', 'lat'])

In [9]:
features

,lon,lat,year,0_1,0_2,0_3,0_4,0_5,0_6,0_7,...,999_4,999_5,999_6,999_7,999_8,999_9,999_10,999_11,999_12,geometry
0,22.130588,-15.793257,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000036,NaN,NaN,NaN,POINT (22.13059 -15.79326)
1,22.130588,-15.793257,2016,NaN,0.005873,NaN,0.000000,0.000000,0.002212,0.000000,...,1.000000,1.000000,0.000319,1.000000,0.000042,0.000033,0.000029,NaN,NaN,POINT (22.13059 -15.79326)
2,22.130588,-15.793257,2017,NaN,NaN,NaN,0.001165,0.001032,0.001036,0.001240,...,0.001100,0.000961,0.000885,0.000365,0.000064,0.000046,0.000026,NaN,NaN,POINT (22.13059 -15.79326)
3,22.130588,-15.793257,2018,0.003073,NaN,NaN,0.000001,0.000136,0.000202,0.000821,...,0.004816,0.002028,0.001336,0.000633,0.000767,0.000063,0.000040,NaN,NaN,POINT (22.13059 -15.79326)
4,22.130588,-15.793257,2019,0.003648,0.002528,0.002732,0.002450,0.002431,0.002544,0.002851,...,0.000800,0.000448,0.000247,0.000145,0.000035,0.000037,0.000055,0.00023,0.000258,POINT (22.13059 -15.79326)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470054,33.520588,-10.243257,2018,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,...,NaN,0.000477,0.000219,0.000000,0.000000,0.000000,0.000000,0.00000,NaN,POINT (33.52059 -10.24326)
470055,33.520588,-10.243257,2019,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000670,0.000224,0.000388,0.000000,0.000000,0.000000,0.000647,0.00000,0.000000,POINT (33.52059 -10.24326)
470056,33.520588,-10.243257,2020,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,...,0.000693,0.000339,NaN,0.000001,0.000000,0.000000,0.000000,0.00000,0.010146,POINT (33.52059 -10.24326)
470057,33.520588,-10.243257,2021,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,...,NaN,0.000395,0.000228,0.000023,0.000000,0.000000,0.000000,0.00000,NaN,POINT (33.52059 -10.24326)
470058,33.520588,-10.243257,2022,NaN,NaN,NaN,NaN,0.000012,0.000000,0.000000,...,NaN,0.000483,0.000514,0.000025,0.000000,0.000000,NaN,0.00000,0.005698,POINT (33.52059 -10.24326)

In [10]:
# Drop the unwanted 'index' and 'geometry' columns
features = features.filter(regex='^(?!index_)')


# Convert the 'features' DataFrame to a GeoDataFrame
features_gdf = gpd.GeoDataFrame(features, geometry=features['geometry'], crs='EPSG:4326')

In [11]:
features.iloc[:, 12000:]

          999_10   999_11    999_12                    geometry
0            NaN      NaN       NaN  POINT (22.13059 -15.79326)
1       0.000029      NaN       NaN  POINT (22.13059 -15.79326)
2       0.000026      NaN       NaN  POINT (22.13059 -15.79326)
3       0.000040      NaN       NaN  POINT (22.13059 -15.79326)
4       0.000055  0.00023  0.000258  POINT (22.13059 -15.79326)
...          ...      ...       ...                         ...
470054  0.000000  0.00000       NaN  POINT (33.52059 -10.24326)
470055  0.000647  0.00000  0.000000  POINT (33.52059 -10.24326)
470056  0.000000  0.00000  0.010146  POINT (33.52059 -10.24326)
470057  0.000000  0.00000       NaN  POINT (33.52059 -10.24326)
470058       NaN  0.00000  0.005698  POINT (33.52059 -10.24326)

[470059 rows x 4 columns]

## Join features to ground data

In [226]:
# Now lets combine the sea data 
spatial_join = gpd.sjoin(features_gdf, sea_unq_join, how='right', predicate = 'within')

In [13]:
spatial_join

,index_left,lon,lat,year,0_1,0_2,0_3,0_4,0_5,0_6,...,999_5,999_6,999_7,999_8,999_9,999_10,999_11,999_12,sea_unq,geometry
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((27.82327 -13.65772, 27.82294 -13.657..."
12,240165.0,28.000588,-13.503257,2020.0,NaN,0.000000,0.000001,0.000003,0.000068,0.000102,...,0.003168,0.002198,0.001368,0.000273,0.000310,0.001201,0.001103,0.003984,2,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
12,240160.0,28.000588,-13.503257,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.001402,NaN,NaN,NaN,2,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
12,240166.0,28.000588,-13.503257,2021.0,NaN,NaN,NaN,0.000000,0.000000,0.000005,...,0.003553,0.002816,0.002079,0.000700,0.000221,0.001191,0.000000,0.003701,2,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
12,240161.0,28.000588,-13.503257,2016.0,0.000000,NaN,NaN,0.000000,0.000000,0.000019,...,0.003695,0.002374,0.001509,0.001603,0.001815,NaN,NaN,NaN,2,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4379,34242.0,23.240588,-16.273257,2016.0,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.001358,0.001245,NaN,NaN,1.000000,392,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
4379,34248.0,23.240588,-16.273257,2022.0,NaN,0.000316,0.000444,0.000283,0.000320,0.000000,...,0.009805,0.008829,0.005855,0.004352,0.001898,0.001503,0.001306,0.000954,392,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
4379,34245.0,23.240588,-16.273257,2019.0,0.000823,0.000015,0.000000,0.000000,0.000480,0.001063,...,0.006702,0.002669,0.002321,0.001629,0.001580,0.002031,0.002586,0.006282,392,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
4379,34244.0,23.240588,-16.273257,2018.0,0.000027,0.001744,0.001380,0.000022,0.000000,0.000000,...,0.009362,0.009134,0.006607,0.004300,0.003049,0.001968,0.003111,0.008442,392,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
4379,34243.0,23.240588,-16.273257,2017.0,NaN,NaN,NaN,0.000785,0.000000,0.000680,...,0.008688,0.014706,0.005374,0.004386,0.002088,0.001279,0.001258,0.002492,392,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."

In [227]:
features_join = spatial_join.merge(country_sea, on=['year', 'sea_unq'], how='inner')

In [228]:
# Drop the redundant independent lon and lat columns because now that they are in a separate geometry column
features_join = features_join.drop(['geometry_x'], axis = 1)

In [16]:
features_join.iloc[:, 12000:]

,999_11,999_12,sea_unq,ttl_r_p_,ttl_r_h_,ttl_r_l_,ttl_h__,avg_yl_,frc_r_h,frc_r_l,...,ar_lst_p__,ar_lst_f,ar_lst_l__,maize,grndnts,frc_ls_,log_yld,loss_nd,drght__,geometry_y
0,0.001103,0.003984,2,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
1,0.000200,0.000447,2,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
2,0.003049,0.077575,2,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
3,0.001496,0.008492,2,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
4,0.003300,0.010960,2,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8064,0.001463,0.005702,392,103.5250,66.5010,37.0240,25920.0,389.768575,0.642367,0.357633,...,15.5925,0.0,0.00,51.840,0.8100,0.074330,10.162770,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8065,0.001547,NaN,392,41.6625,32.4100,9.2525,49750.0,1535.020056,0.777918,0.222082,...,0.0000,0.0,0.00,34.515,2.9825,0.000000,10.814766,1.0,0.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8066,NaN,1.000000,392,3272.0000,1416.0000,1856.0000,16160.0,11.412429,0.432763,0.567237,...,1.0000,0.0,9.00,2288.000,186.0000,0.324267,9.690294,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8067,0.002586,0.006282,392,103.5250,66.5010,37.0240,25920.0,389.768575,0.642367,0.357633,...,15.5925,0.0,0.00,51.840,0.8100,0.074330,10.162770,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8068,0.001258,0.002492,392,402.0000,48.7500,353.2500,31000.0,635.897436,0.121269,0.878731,...,0.0000,0.0,27.75,217.000,4.2500,0.807836,10.341742,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."

In [17]:
features_join.iloc[:, 12003:]

,ttl_r_p_,ttl_r_h_,ttl_r_l_,ttl_h__,avg_yl_,frc_r_h,frc_r_l,ar_lst_n__,ar_lst_f__,ar_lst_n,...,ar_lst_p__,ar_lst_f,ar_lst_l__,maize,grndnts,frc_ls_,log_yld,loss_nd,drght__,geometry_y
0,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,0.000,0.0,0.0,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
1,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,0.000,0.0,0.0,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
2,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,0.000,0.0,0.0,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
3,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,0.000,0.0,0.0,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
4,121.3175,108.8175,12.5000,62925.0,578.261769,0.896965,0.103035,0.000,0.0,0.0,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8064,103.5250,66.5010,37.0240,25920.0,389.768575,0.642367,0.357633,0.000,0.0,0.0,...,15.5925,0.0,0.00,51.840,0.8100,0.074330,10.162770,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8065,41.6625,32.4100,9.2525,49750.0,1535.020056,0.777918,0.222082,0.125,0.0,0.0,...,0.0000,0.0,0.00,34.515,2.9825,0.000000,10.814766,1.0,0.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8066,3272.0000,1416.0000,1856.0000,16160.0,11.412429,0.432763,0.567237,162.000,0.0,66.0,...,1.0000,0.0,9.00,2288.000,186.0000,0.324267,9.690294,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8067,103.5250,66.5010,37.0240,25920.0,389.768575,0.642367,0.357633,0.000,0.0,0.0,...,15.5925,0.0,0.00,51.840,0.8100,0.074330,10.162770,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8068,402.0000,48.7500,353.2500,31000.0,635.897436,0.121269,0.878731,0.000,0.0,0.5,...,0.0000,0.0,27.75,217.000,4.2500,0.807836,10.341742,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."

In [229]:
# Set some parameters 
# Number of features:
num_features = 1000

# Imputing
impute_manual = False

### Impute missing values

Imputing "manually" by descending group levels imputes NA values in multiple "cascading" steps, decreasing the proportion of inputed values with each step. First, the NA values are imputed at by both `year` and `geometry`, which should yield imputed values that most closely match the feature values that would be present in the data if there was no clouds obscuring the satellite images. Next, the remaining NA values that could not be imputed by both `year` and `district` are imputed by only `district`. Lastly, the remaining NA vlaues that could not be imputed by both `year` and `district` or by just `district` are imputed by `year` only. This option gives the user more control and transparency over how the imputation is executed.

Imputing using `scikit learn`'s simple imputer executes standard imputation, the details of which can be found in the `scikitlearn` documentation [here.](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html)

The imputation approach depends on the selection made at the top of this notebook for `impute_manual`.

In [230]:
# Extract the size of the features dataframe
rows, cols = features_join.shape

# compute the number of feature cells in the features dataframe
num_cells = rows * cols
num_cells

97053932

In [20]:
features_join

,index_left,year,0_1,0_2,0_3,0_4,0_5,0_6,0_7,0_8,...,ar_lst_p__,ar_lst_f,ar_lst_l__,maize,grndnts,frc_ls_,log_yld,loss_nd,drght__,geometry_y
0,240165.0,2020.0,NaN,0.000000,0.000001,2.602254e-06,0.000068,0.000102,0.000206,0.000232,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
1,240493.0,2020.0,NaN,0.000040,0.000071,3.420026e-05,0.000084,0.000088,0.000143,0.001001,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
2,239085.0,2020.0,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
3,240173.0,2020.0,NaN,0.000000,0.002150,0.000000e+00,0.000000,0.000108,0.000199,0.000517,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
4,239789.0,2020.0,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000001,0.000006,0.000310,...,3.0000,0.0,5.50,102.400,13.4175,0.000000,11.049699,1.0,0.0,"POLYGON ((27.99349 -13.46497, 27.99352 -13.464..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8064,34246.0,2020.0,0.001366,NaN,0.000000,0.000000e+00,0.000617,0.000898,0.001505,0.000000,...,15.5925,0.0,0.00,51.840,0.8100,0.074330,10.162770,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8065,34247.0,2021.0,0.000018,0.000011,0.000011,7.457844e-07,0.000000,0.000653,0.001483,0.003010,...,0.0000,0.0,0.00,34.515,2.9825,0.000000,10.814766,1.0,0.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8066,34242.0,2016.0,0.000000,0.000000,NaN,0.000000e+00,0.000000,0.000000,0.000000,0.004374,...,1.0000,0.0,9.00,2288.000,186.0000,0.324267,9.690294,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8067,34245.0,2019.0,0.000823,0.000015,0.000000,0.000000e+00,0.000480,0.001063,0.001290,0.002463,...,15.5925,0.0,0.00,51.840,0.8100,0.074330,10.162770,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."
8068,34243.0,2017.0,NaN,NaN,NaN,7.849777e-04,0.000000,0.000680,0.000909,0.000000,...,0.0000,0.0,27.75,217.000,4.2500,0.807836,10.341742,1.0,1.0,"POLYGON ((23.23962 -16.31204, 23.23876 -16.312..."

In [231]:
class bcolors:
    BL = '\x1b[1;34m' #GREEN
    GR = '\x1b[1;36m' #GREEN
    YL = '\x1b[1;33m' #YELLOW
    RD = '\x1b[1;31m' #RED
    RESET = '\033[0m' #RESET COLOR

In [232]:
# Replace all infinity values with NaN
features_join = features_join.replace([np.inf, -np.inf], np.nan)
features_join = (
    features_join
    .fillna(features_join
            .groupby(['lat', 'lon'], as_index=False)
            .transform('median')
            )
)
features_join = (
    features_join
    .fillna(features_join
            .groupby(['sea_unq'], as_index=False)
            .transform('median')
            )
)

/tmp/ipykernel_1572420/3659740072.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .transform('median')
/tmp/ipykernel_1572420/3659740072.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .transform('median')

In [233]:
# Notes: Have to change the year, get an error rn. Also, check to make sure the number of cells is correct
features_join = features_join.replace([np.inf, -np.inf], np.nan)

if impute_manual:
    ln_ft = len(features_join)
    ln_na = len(features_join.dropna())
    print(f'Starting total row count: {bcolors.BL}{ln_ft}{bcolors.RESET}',
          f'\nPre-Impute NaN row count: {bcolors.RD}{ln_ft - ln_na}{bcolors.RESET}',
          f'\nPre-Impute NaN row %: {bcolors.RD}{((ln_ft - ln_na) / ln_ft)*100:.02f}{bcolors.RESET}',
          f'\nPre-Impute NaN cell %: {bcolors.RD}{(features_join.isna().sum().sum() / num_cells)*100:.02f}{bcolors.RESET}',
          f'\n\nStep 1: Filling NaN values by month, year, and district group average')
    features_join = (
        features_join
        .fillna(features_join
                .groupby(['year', 'sea_unq'], as_index=False) 
                .transform('mean')
               )
    )
    ln_ft = len(features_join)
    ln_na = len(features_join.dropna())
    print(f'Post step 1 NaN row count: {bcolors.YL}{ln_ft - ln_na}{bcolors.RESET}',
          f'\nPost step 1 NaN row %: {bcolors.YL}{((ln_ft - ln_na) / ln_ft)*100:.02f}{bcolors.RESET}',
          f'\nPost step 1 NaN cell %: {bcolors.YL}{(features_join.isna().sum().sum() / num_cells)*100:.02f}{bcolors.RESET}',
          f'\n\nStep 2: Filling NaN values by month and district across group average')
    features_join = (
        features_join
        .fillna(features_join
                .groupby(['sea_unq'], as_index=False)
                .transform('mean')
               )
    )
    ln_ft = len(features_join)
    ln_na = len(features_join.dropna())
    print(f'Post step 2 NaN row count: {bcolors.GR}{ln_ft - ln_na}{bcolors.RESET}',
          f'\nPost step 2 NaN row %: {bcolors.GR}{((ln_ft - ln_na) / ln_ft)*100:.02f}{bcolors.RESET}',
          f'\nPost step 2 NaN cell %: {bcolors.GR}{(features_join.isna().sum().sum() / num_cells)*100:.02f}{bcolors.RESET}',
          f'\n\nStep 3: Drop remaining NaN values\n')
    features_join = features_join.dropna(axis=0)
    print(f'Ending total row count: {bcolors.BL}{len(features_join)}{bcolors.RESET}')
    
else:
    # Store the geometry column separately
    geometry_col = features_join['geometry_y']
    # Remove the geometry column from the DataFrame
    features_join = features_join.drop(columns=['geometry_y'])
    features_join = features_join.set_index(['year', 'sea_unq'])
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
    imputer.fit_transform(features_join)
    features_join[:] = imputer.transform(features_join)
    features_join = features_join.reset_index()
    # Add the geometry column back to the DataFrame
    features_join['geometry'] = geometry_col

In [234]:
features_join = features_join[features_join['year'] != 2019]

In [235]:
#remove years 2019 and 2020 from features join data 
print(features_join['year'].unique())


features_join = features_join.drop(['lat', 'lon'], axis = 1)

[2020. 2021. 2016. 2017.]

### Save copy of processed features before sumarizing training features to district level

Duplicate the features dataframe at this stage so we can retain a copy of features at point resolution for all years available, which is `2013/2014/2016-2021`.

    - The start year is `2016` if the satellite selected is Sentinel 2 (due to the fact that Sentinel 2 launched in June of `2015`)
    - The start year is `2013` if the satellite selected is Landsat 8 and the month range selected was anything besides all months (due to the fact that Landsat 8 launched in February of `2013`)
    - The start year is `2014` if the satellite selected is Landsat 8 and the month range selected was all months
    
This duplicated dataframe we create in the following code is called `features_all_years`. The purpose for this dataframe comes into play after the model is trained; we will be able to plug in point-resolution features from _any and all_ years from this dataframe into the trained model and observe how the model predicts crop years across space and time. It would be interesting to plot these features for each year sequentially to show how the crop prediction landscape changes by year. These point-resolution features increase the spatial resolution of the ground-truth crop data we have for the years through 2018, because our ground-truth crop data is at a the coarser  district-resolution. Furthermore, these point-resolution features are the _only_ crop data we have for the years 2020-2021. The reason we lack data from 2019 is because the Zanbia Sattistics Agency has not yet released their Crop Forecast Survey data for that year. The reason we do not have data for 2020-2021 is because Covid-19 prevented any Crop Forecast Surveys from being conducted. 


After we create the dataframe `features_all_years`, we are free to further process the original features dataframe, `features_join`, in order to train the model with these features and their paired ground-truth crop yields. Processing this dataframe further requires us to subset the years to the start year through the years for which we have crop data: `2013/2014/2016-2019`. This dataframe is called `features_through_2019`. The reason we subset this dataframe is because we are training the model using _supervised_ machine learning, which means we are feeding it only features that have ground-truth crop data accosicated with them.

In [236]:
features_all_years = features_join.copy()

# assign the geometry column to features_2014_2021 so it can serve 2 purposes:
# 1. plotting features sequentially by year
# 2. the entire dataframe can be fed into the model after the model is trained on only the summarized features for 2014-2018 and the associated crop data
# moving forward in the immediate sections, summarize the `features` dataframe to district level

### Summarise to administrative boundary level
Weighted by cropped area, or simple mean, depending on the selection at the top of this notebook for `weighted_avg`.

In [237]:
# check the order of the columns in the dataframe that will be summarized and then fed into the ridge regression in order to train the model
# we care about the order of columns specifically because in the following steps we assign only the feature columns to an object, so we need to know which 3 columns to omit by indexing
features_join.columns

Index(['year', 'sea_unq', 'index_left', '0_1', '0_2', '0_3', '0_4', '0_5',
       '0_6', '0_7',
       ...
       'ar_lst_p__', 'ar_lst_f', 'ar_lst_l__', 'maize', 'grndnts', 'frc_ls_',
       'log_yld', 'loss_nd', 'drght__', 'geometry'],
      dtype='object', length=12026)

The output above show that the 3 columns that are _not_ features are the first 2 columns `year` and `district`, and the last column, `crop_perc`.

In [238]:
# check the shape to the dataframe as a sanity check
features_join.shape

(6455, 12026)

In [36]:
features_join.iloc[:, 12002]

0       0.003984
1       0.000447
2       0.077575
3       0.008492
4       0.010960
          ...
8063    0.005504
8064    0.005702
8065    0.047459
8066    1.000000
8068    0.002492
Name: 999_12, Length: 6455, dtype: float64

The output above shows the number of rows and columns in the dataframe, respectively. Recall that the number of rows represents the number of points for which we have features, and the number of columns is all features for all months selected plus the columns `year`, `district`, and `crop_perc`. There are 13866 rows, meaning that is the amount of training points we have to feed into the model _before they are summarized to district level_, so this number will shrink after we summarize to district level. There are 12003 columns, which will not change after we summarize the features to district level. The number of columns that we include in the features object in the next chunk will be this number minus the 3 non-feature columns.

In [239]:
# create object that contains only feature columns, rather than all columns that would include `district`, `year`, and `crop_perc`
# python index starts at 0, so here we specify to retain columns starting at 3 through every column besides the last column
# the columns we omit stay in the dataframe, because we assign the selected columns to an object, but the omitted columns are not included in the calculation in the next chunk
var_cols = features_join.columns[3:12003].values.tolist()

# call the object `var_cols` to check that it only includes feature columns, but do not view it in list format because it is more readable not as a list 
features_join.columns[3:12003]
# these are all the feature columns that will be fed into the `weighted_avg` calculation in the next chunk

Index(['0_1', '0_2', '0_3', '0_4', '0_5', '0_6', '0_7', '0_8', '0_9', '0_10',
       ...
       '999_3', '999_4', '999_5', '999_6', '999_7', '999_8', '999_9', '999_10',
       '999_11', '999_12'],
      dtype='object', length=12000)

In [240]:
%%time
# Group by 'year' and 'sea_unq' and calculate the mean for the specified columns
grouped_features = features_join.groupby(['year', 'sea_unq']).mean()

CPU times: user 657 ms, sys: 334 ms, total: 990 ms
Wall time: 989 ms

<timed exec>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

Now that the features have been summarized to district and year, there are fewer rows. The dataframe we were working with before this step,  `features_through_2018`, had 13866 rows that represented points. Now we have 216 rows, as shown by the following output. Notice we still have all 12003 columns.

In [49]:
grouped_features.iloc[:, 1:]

                     0_1       0_2       0_3           0_4       0_5  \
year   sea_unq
2016.0 2        0.000462  0.000714  0.000723  0.000000e+00  0.000005
       4        0.000822  0.000714  0.000723  1.316858e-04  0.000155
       5        0.000637  0.000714  0.000723  3.044699e-05  0.000069
       7        0.000531  0.000714  0.000723  0.000000e+00  0.000000
       8        0.000534  0.000714  0.000723  7.449955e-05  0.000046
...                  ...       ...       ...           ...       ...
2021.0 388      0.001231  0.000000  0.000000  0.000000e+00  0.000001
       389      0.001231  0.000714  0.000016  1.312762e-04  0.000330
       390      0.001224  0.000543  0.000383  4.261206e-04  0.000547
       391      0.001231  0.000714  0.000325  2.980034e-04  0.000262
       392      0.000018  0.000011  0.000011  7.457844e-07  0.000000

                     0_6       0_7       0_8       0_9      0_10  ...  \
year   sea_unq                                                    ...
2016.0 2        0.000012  0.000030  0.000100  0.000223  0.001399  ...
       4        0.000093  0.000153  0.000593  0.000955  0.002126  ...
       5        0.000137  0.000234  0.000790  0.001145  0.001959  ...
       7        0.000000  0.000000  0.000437  0.000688  0.001054  ...
       8        0.000050  0.000046  0.000222  0.000514  0.001625  ...
...                  ...       ...       ...       ...       ...  ...
2021.0 388      0.000012  0.000014  0.000055  0.000039  0.000217  ...
       389      0.000644  0.000552  0.001008  0.001484  0.003008  ...
       390      0.000657  0.000577  0.001222  0.001573  0.001846  ...
       391      0.000234  0.000276  0.001599  0.001833  0.002499  ...
       392      0.000653  0.001483  0.003010  0.003736  0.000000  ...

                ar_lst_s__  ar_lst_p__  ar_lst_f  ar_lst_l__     maize  \
year   sea_unq
2016.0 2               0.0        0.00       0.0       4.000  233.0000
       4               0.0        0.00       0.0       0.000   36.0000
       5               0.0        0.00       0.0       0.000   46.0000
       7               0.0        1.00       0.0       1.000   83.0000
       8               0.0        0.00       0.0      12.000   76.0000
...                    ...         ...       ...         ...       ...
2021.0 388             0.0        0.00       0.0       0.000   18.9475
       389             0.0        0.25       0.0       0.750   11.2500
       390             0.0        0.00       0.0       0.875   17.5300
       391             0.0        0.00       0.0       0.000   29.9000
       392             0.0        0.00       0.0       0.000   34.5150

                grndnts   frc_ls_    log_yld  loss_nd  drght__
year   sea_unq
2016.0 2        35.0000  0.097643  11.137301      1.0      1.0
       4        46.0000  0.000000  10.692536      0.0      0.0
       5         1.0000  0.000000   9.907977      0.0      0.0
       7         5.0000  0.000000  10.263013      1.0      0.0
       8        13.0000  0.000000  10.603486      1.0      0.0
...                 ...       ...        ...      ...      ...
2021.0 388       6.2750  0.004720  10.390041      0.0      0.0
       389       3.0000  0.123457  10.120211      1.0      1.0
       390       1.2500  0.000000  10.533295      1.0      0.0
       391      11.0000  0.008821  11.566940      1.0      0.0
       392       2.9825  0.000000  10.814766      1.0      0.0

[1043 rows x 12022 columns]

## Model

### Define `x`'s and `y`'s that will be a part of training the model

Since our independent variable is the features, these are the `x`'s. Our dependent variable is the crop yield in metric tonnes per hectare planted, so that will be the `y`'s.

In [241]:
# Separate features (X) and target variables (y)
X = grouped_features.iloc[:, 1:12000]
y = grouped_features['ar_____']

In [242]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Split into train and test sets

This step is executed right before training the model so we can train on 80% of the data and preserve 20% for testing.

In [243]:
print("Number of total points: ", len(X), "\n", 
      "Number of training points: ", len(X_train), "\n",
      "Number of testing points: ", len(X_test), sep = "")

Number of total points: 1043
Number of training points: 834
Number of testing points: 209

### Train model using cross-validated ridge regression

Please see the documentation for the function that executes this regression [here.](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html)

In [79]:
# ridge_cv_random = RidgeCV(cv = 5, alphas = np.linspace(2, 10, num = 20))
# ridge_cv_random.fit(X_train, y_train)

RidgeCV(alphas=array([ 2.        ,  2.42105263,  2.84210526,  3.26315789,  3.68421053,
        4.10526316,  4.52631579,  4.94736842,  5.36842105,  5.78947368,
        6.21052632,  6.63157895,  7.05263158,  7.47368421,  7.89473684,
        8.31578947,  8.73684211,  9.15789474,  9.57894737, 10.        ]),
        cv=5)

In [244]:
ridge_cv_random = RidgeCV(cv = 5, alphas = np.logspace(-8, 8, base = 10, num = 17))
ridge_cv_random.fit(X_train, y_train)

RidgeCV(alphas=array([1.e-08, 1.e-07, 1.e-06, 1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01,
       1.e+00, 1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05, 1.e+06, 1.e+07,
       1.e+08]),
        cv=5)

In [245]:
print(f"Estimated regularization parameter: {ridge_cv_random.alpha_}")

Estimated regularization parameter: 100.0

In [246]:
print(f"Validation R2 performance: {ridge_cv_random.best_score_:0.2f}")

Validation R2 performance: 0.09

In [247]:
y_pred = ridge_cv_random.predict(X_test)
y_pred

r=r2_score(y_test, y_pred)
print(r)

0.17015706107964546

In [91]:
# Initialize lists to store the predictions, RMSEs, and R-squared values
predictions = []
rmse_list = []
r2_list = []

# Loop through the target variables (columns)
for i in range(y_test.shape[1]):
    # Extract the true values and predictions for the current target variable
    y_test_i = y_test.iloc[:, i]
    y_pred_i = y_pred[:, i]
    
    # Compute the RMSE and R-squared
    rmse_i = np.sqrt(mean_squared_error(y_test_i, y_pred_i))
    r2_i = r2_score(y_test_i, y_pred_i)
    
    # Append the results to the corresponding lists
    predictions.append(y_pred_i)
    rmse_list.append(rmse_i)
    r2_list.append(r2_i)

# Print the RMSE and R-squared values for each target variable

for i, (column_name, rmse_i, r2_i) in enumerate(zip(y_test.columns, rmse_list, r2_list), start=1):
    print(f"{column_name}: R-squared = {r2_i:.4f}")

IndexError: tuple index out of range

### Validation set $R^2$ performance

In [68]:
print(f"Validation R2 performance: {ridge_cv_random.best_score_:0.2f}")

Validation R2 performance: -3.13

### Train set

In [90]:
y_pred = np.maximum(ridge_cv_random.predict(X_train), 0)
print(y_pred)
r2_train = r2_score(y_train, y_pred)

[[115.07613021  82.02998533  33.04614488 ...  10.29169636   0.52577208
    0.21857484]
 [137.07132477  98.5922731   38.47905166 ...  10.25339198   0.49351748
    0.186579  ]
 [119.96024858  81.44706496  38.51318362 ...  10.3391307    0.62651828
    0.34912575]
 ...
 [120.6760208   78.92263945  41.75338135 ...  10.3628993    0.68588506
    0.42624878]
 [123.64665423  90.76007417  32.88658006 ...  10.26835914   0.48547735
    0.17366845]
 [112.95448263  81.39112916  31.56335347 ...  10.29207385   0.52689887
    0.21931662]]

In [88]:
print(f"Training R^2 = {r2_train:0.2f}\nPearsons r = {pearsonr(y_pred, y_train)[0]:0.2f}")

ValueError: shapes (834,22) and (834,22) not aligned: 22 (dim 1) != 834 (dim 0)

In [ ]:
# Pearson r^2
pearsonr(y_pred, y_train)[0] ** 2

In [ ]:
# alternative way to calculate Training R^2
ridge_cv_random.score(x_train, y_train)

### Test set

In [ ]:
y_pred = np.maximum(ridge_cv_random.predict(x_test), 0)
r2_test = r2_score(y_test, y_pred)

plt.figure()
plt.scatter(y_pred, y_test, alpha=1, s=4)
plt.xlabel("Predicted", fontsize=15)
plt.ylabel("Ground Truth", fontsize=15)
plt.suptitle(r"$\log_{10}(1 + Crop Yield)$", fontsize=20, y=1.02)
plt.title(f"Model applied to test data n = {len(x_test)}, R$^2$ = {r2_test:0.2f}",
          fontsize=12, y=1)

plt.xticks(fontsize=14)
plt.yticks(fontsize=14)

ax.axline([0, 0], [.75, .75], c = "k")

plt.gca().spines.right.set_visible(False)
plt.gca().spines.top.set_visible(False)

# plt.savefig(f'images/{feature_file_name}_test_data.jpg', dpi=300)
plt.show()
plt.close()

In [ ]:
print(f"Testing set R^2 = {r2_test:0.2f}")
print(f"Testing set pearsons R = {pearsonr(y_pred, y_test)[0]:0.2f}")

Summary of both train and test data sets

In [ ]:
y_pred = np.maximum(ridge_cv_random.predict(x_all), 0)

fig, ax = plt.subplots(figsize=(7, 7))
ax.axline([0, 0], [.75, .75], c = "k")
plt.scatter(y_pred, y_all, alpha=.9, s=15)
plt.xlabel("Predicted", fontsize=15)
plt.ylabel("Observed", fontsize=15)
plt.text(
    0, .8, fontsize=15, fontweight="bold",
    s=f"R$^2$={r2_train:0.2f} - Train set",
)
plt.text(
    0, .75, fontsize=15, fontweight="bold",
    s=f"R$^2$={ridge_cv_random.best_score_:0.2f} - Validation set",
)
plt.text(
    0, .7, fontsize=15, fontweight="bold",
    s=f"R$^2$={r2_test:0.2f} - Test set",
)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)

plt.gca().spines.right.set_visible(False)
plt.gca().spines.top.set_visible(False)

# plt.savefig(f'images/{feature_file_name}_all_data.jpg', dpi=300)
plt.show()
plt.close()

### Use the trained model to predict crop yields over all years from 1km grid-cell resolution features 

Recall that after we executed imputation on all feature years in the dataframe `features`, we copied the dataframe and named it `features_all_years`. Now we can plug that into the model to visualize how our model performs over time.

In [ ]:
# recall the object we created earlier, before we split the features by year into those that would train the model 
# and those that would be fed into the trained model to predict crop yields
# in years for which we do not have crop data
features_all_years.head(3)

In the following chunk, we drop certain columns from `features_all_years` because we only need to feed the feature data into the model to generate predictions. Using the argument `axis = 1`, we specify that we are dropping columns rather than rows.

In [ ]:
x_all = features_all_years.drop([
    'year', 
    'geometry',
    'district',
    'crop_perc'
], axis = 1)

In the following chunk, we execute the model on the features from the dataframe `features_all_years`. The crop yield predictions for each row populate a new column in the dataframe.

The model is run inside the `np.maximum()` function because if we run it without being wrapped inside function, some crop predictions are negative values, but we need them all to be positive because conceptually crop yields cannot be negative.

In [ ]:
features_all_years['yield_prediction'] = np.maximum(ridge_cv_random.predict(x_all), 0)

In [ ]:
# check out the dataframe with the new column of predictions
features_all_years.head(3)

The dataframe is already a geodataframe, so we do not have to convert it to one before mapping predictions. However, we do need to replace all the zero value crop percentage areas with `NA`. We do this by applying the `mask()` function. This function is similar to an if-else statement. If the value of the `crop_perc` is equal to 0, that value is replaced by the value of the second argument, which is `NA`. If the value of `crop_prec` is _not_ equal to zero, we retain the current value. The argument `inplace = True` executes this replacement in the same cell.

In [ ]:
features_all_years['yield_prediction'].mask(features_all_years['crop_perc']==0, np.nan, inplace=True)

Recall that this dataframe has a geometry column, with latitude and longitude together. In order to map the predicted features, we separate this geometry column into separate `lon` and `lat` columns.

In [ ]:
# extract the longitude and latitude from the geometry column, and make then into independent columns
features_all_years['lon'], features_all_years['lat'] = features_all_years.geometry.x, features_all_years.geometry.y

Plot the predicted features for each year:

In [ ]:
def scatter(x, y, c, **kwargs):
    plt.scatter(x, y, c=c, s = 1.25)
sns.color_palette("viridis", as_cmap=True)
g = sns.FacetGrid(
    features_all_years, 
    col="year", 
    col_wrap = 4, 
    height=5, 
    aspect=1
)
g.map(scatter, "lon", "lat", "yield_prediction")
g.set_axis_labels(r"Yield Prediction")
# save the figure and name the file so that it represents the model parameters that created the predictions
# plt.savefig(f'images/{feature_file_name}_all_predictions.jpg', dpi=300)

Plot the model's predicted features summarized to district level. In this visualization, we choose a specific year to examine rather than visualizing all years in one figure. Visualizing the the features summarized to district level is interesting because the crop data resolution provided by Zambia Statistics Agency is at the district level, and therefore it is easier to compare our model results to those ground-truth values when they are summarized to district level as well. Furthermore, our model's crop predictions for the years 2020 and 2021 might be more valuable when summarized to district level if Zambian governments, policy-makers, farmers, and researchers wish to use this data to determine crop imports, exports, and storage according to district summaries.

In [ ]:
features_all_years_summary = (
    features_all_years
    .groupby(['district',"year"], as_index = False)['yield_prediction']
    .mean()
    .set_index('district')
)

In [ ]:
# join Zambia's shapefile to the summarized features to map the districts
# reset the index so it is a properly formatted dataframe
features_all_years_summary = features_all_years_summary.join(country_shp).reset_index()

Now that the geometries have been converted to districts from points, the geomatries are now polygons. There is still a row for each district for each year.

In order to change the year visualized, simply change the year in the following code and re-run the chunk.

In [ ]:
features_all_years_summary[features_all_years_summary.year == 2020].plot(column = "yield_prediction")

Plot a boxplot for each year to visualize the range and quantile distribution of each year's crop predictions, summarized to district level. This enables us to identify years with exceptional disparities between the predicted yields by district. It also allows us to identify years that have many outliers.

In [ ]:
plt.figure(figsize=(10, 5))
sns.boxplot(x="year", y="yield_prediction", data = features_all_years_summary)
plt.xlabel("Year", fontsize=15)
plt.ylabel("Predicted Yield", fontsize=15)

Visualize the total crop yield predictions by year. This bar chart shows the sum of all the district crop yields.

In [ ]:
plt.figure(figsize=(10, 5))
sns.barplot(x="year", y="yield_prediction", data = features_all_years_summary, estimator = sum)

## Yield and Residual Plots

Create a dataframe of residuals called `residuals_df` from the `features_summary` dataframe. Note that we are _not_ using the predicted crop yields for _all_ years for these residuals, but rather the ground-truth crop yields for just the years through 2018.

The residuals give us an idea of the amount of uncertianty that is present in our model. By demeaning the residuals over space, we are able to remove the uncertainty over space and better determine our model performance over time and our uncertainty over time.

In [ ]:
x_all = features_summary.drop(drop_cols, axis = 1)

# create empty dataframe to then populate with columns
residual_df = pd.DataFrame()

residual_df["yield_mt"] = features_summary.yield_mt.to_numpy()
residual_df["log_yield"] = np.log10(features_summary.yield_mt.to_numpy() + 1)
residual_df["prediction"] = np.maximum(ridge_cv_random.predict(x_all), 0)
residual_df["residual"] = residual_df["log_yield"] - residual_df["prediction"]
residual_df["year"] = features_summary.year
residual_df["district"] = features_summary.district
# join the district geometries
residual_df = residual_df.join(country_shp, how = "left", on = "district")

# demean by location so we can analyze the data over time
residual_df["district_yield_mean"] = residual_df.groupby('district')['log_yield'].transform('mean')
residual_df["district_prediction_mean"] = residual_df.groupby('district')['prediction'].transform('mean')
residual_df["demean_yield"] = residual_df["log_yield"] - residual_df["district_yield_mean"]
residual_df["demean_prediction"] = residual_df["prediction"] - residual_df["district_prediction_mean"]
residual_gdf = geopandas.GeoDataFrame(residual_df)

residual_gdf.head(3)

Visualize the residuals for the ground truth crop yields through 2018 with a boxplot.

In [ ]:
plt.figure(figsize=(6, 5))
sns.boxplot(x="year", y="log_yield", data=residual_df)
plt.xlabel("Year", fontsize=15)
plt.ylabel("Log Yield", fontsize=15)

Visualize the residuals as a sum by year with a bar plot.

In [ ]:
plt.figure(figsize=(6, 5))
sns.barplot(x="year", y="log_yield", data=residual_df, estimator = sum)

Visualize the crop yield residuals by year as a histogram to determine how they are distributed.

In [ ]:
g = sns.FacetGrid(
    residual_gdf, 
    col="year", 
#     col_wrap = 3, 
    height=4, 
    aspect=1
)
g.map(sns.histplot, "yield_mt", bins = 20)
g.set_axis_labels("Yield (MT)")

Visualize the log-transformed crop yield residuals by year as a histogram to compare how they are distributed after the transformation.

In [ ]:
g = sns.FacetGrid(
    residual_gdf, 
    col="year", 
#     col_wrap = 3, 
    height=4, 
    aspect=1
)
g.map(sns.histplot, "log_yield", bins = 20)
g.set_axis_labels(r"$\log_{10}(1 + Crop Yield)$")

#### Crop prediction histogram

In [ ]:
g = sns.FacetGrid(
    residual_gdf, 
    col="year", 
#     col_wrap = 3, 
    height=4, 
    aspect=1
)
g.map(sns.histplot, "prediction", bins = 20)
g.set_axis_labels(r"Crop yield predictions")

#### Residual histogram

In [ ]:
g = sns.FacetGrid(
    residual_gdf, 
    col="year", 
#     col_wrap = 3, 
    height=4, 
    aspect=1
)
g.map(sns.histplot, "residual", bins = 20)
g.set_axis_labels(r"Residuals")

In [ ]:
residual_gdf.residual.min()

In [ ]:
residual_gdf.residual.max()

#### Log crop yield vs residuals

In [ ]:
g = sns.FacetGrid(
    residual_gdf, 
    col="year", 
#     col_wrap = 3, 
    height=4, 
    aspect=1
)
g.map(sns.scatterplot, "log_yield", "residual")
g.set_axis_labels(r"$\log_{10}(1 + Crop Yield)$")

#### District residuals

In [ ]:
if satellite == 'landsat-8-c2-l2':
    fig, (ax1,ax2) = plt.subplots(nrows=1, ncols=2, figsize=(13, 5))
    ax1 = (residual_gdf[residual_gdf.year == 2014]
           .plot(ax = ax1, column = "residual", legend = True, norm=colors.Normalize(vmin= -0.4, vmax=0.4), cmap = "BrBG")
           .set_title("2014 Residuals"))
    ax2 = (residual_gdf[residual_gdf.year == 2015]
           .plot(ax = ax2, column = "residual", legend = True, norm=colors.Normalize(vmin= -0.4, vmax=0.4), cmap = "BrBG")
           .set_title("2015 Residuals"))
else:
    pass
fig, (ax1,ax2,ax3) = plt.subplots(nrows=1, ncols=3, figsize=(20, 5))
ax1 = (residual_gdf[residual_gdf.year == 2016]
       .plot(ax = ax1, column = "residual", legend = True, norm=colors.Normalize(vmin= -0.4, vmax=0.4), cmap = "BrBG")
       .set_title("2016 Residuals"))
ax2 = (residual_gdf[residual_gdf.year == 2017]
       .plot(ax = ax2, column = "residual", legend = True, norm=colors.Normalize(vmin= -0.4, vmax=0.4), cmap = "BrBG")
       .set_title("2017 Residuals"))
ax3 = (residual_gdf[residual_gdf.year == 2018]
       .plot(ax = ax3, column = "residual", legend = True, norm=colors.Normalize(vmin= -0.4, vmax=0.4), cmap = "BrBG")
       .set_title("2018 Residuals"))

caption = "A positive value is an underestimated prediction (the prediction is lower than the actual yield), a negative value is an over estimated prediction"
plt.figtext(0.5, 0.01, caption, wrap=True, horizontalalignment='center', fontsize=12)

#### Difference from the mean

In [ ]:
g = sns.FacetGrid(
    residual_gdf, 
    col="year", 
#     col_wrap = 3, 
    height=4, 
    aspect=1
)
g.map(sns.scatterplot, "demean_yield", "demean_prediction")
g.set_axis_labels('Difference from Yield Mean', 'Difference from Prediction Mean')

In [ ]:
fig, ax = plt.subplots(figsize= (6, 5))
ax.axline([-.2, -.2], [.2, .2], c = "k")
plt.scatter(residual_gdf.demean_yield, residual_gdf.demean_prediction)
plt.title("Demeaned truth and predictions by district")
plt.xlabel('Difference from Yield Mean')
plt.ylabel('Difference from Predictions Mean')
r_squared = r2_score(residual_gdf["demean_yield"], residual_gdf["demean_prediction"])
plt.text(
    -0.2,
    .18,
    s=f"Demeaned R$^2$ = {r_squared:0.2f}",
    fontsize=15,
    fontweight="bold",
)
plt.savefig(f'images/{feature_file_name}_demean.jpg', dpi=300)

In [ ]:
for yr in range(year_start+1, 2018):
    r_squared = r2_score(residual_gdf[residual_gdf.year == yr]["demean_yield"], residual_gdf[residual_gdf.year == yr]["demean_prediction"])
    pearson_r = pearsonr(residual_gdf[residual_gdf.year == yr]["demean_yield"], residual_gdf[residual_gdf.year == yr]["demean_prediction"])
    
    print(yr, f"    R^2: {r_squared:.2f}\n",
          f"Pearson's r: {pearson_r[0]:.2f}\n", 
          sep = "")
    
r_squared = r2_score(residual_gdf["demean_yield"], residual_gdf["demean_prediction"])
pearson_r = pearsonr(residual_gdf["demean_yield"], residual_gdf["demean_prediction"])
print(f"All     R^2: {r_squared:.2f}\n",
      f"Pearson's r: {pearson_r[0]:.2f}", sep = "")

In [ ]:
r2 = round(pearson_r[0] ** 2, 2)
r2

#### Join residuals to the features for _all_ years to visualize the residuals of the features before they were summarized to district level.

In [ ]:
complete_df = (
    features_all_years_summary
    .set_index(['district', 'year'])
    .join(residual_df
          .drop('geometry', axis = 1)
          .set_index(['district', 'year'])
         )
    .reset_index()
)

complete_df.head(3)

In [ ]:
fig, ax1 = plt.subplots(figsize=(10, 5))
tidy = complete_df.melt(id_vars='year').rename(columns=str.title)
tidy = tidy[tidy.Variable.isin(['yield_prediction', 'log_yield'])]
sns.barplot(x='Year', y='Value', hue='Variable', data=tidy, ax=ax1, ci = None)
sns.despine(fig)

h, l = ax1.get_legend_handles_labels()
ax1.legend(h, ['Predicted Yield', 'Observed Yield'],loc='lower left')

plt.savefig(f'images/{feature_file_name}_yield_pred.jpg', dpi=300)

In [ ]:
plt.figure(figsize=(10, 5))
sns.barplot(x="year", y="yield_prediction", data=complete_df, estimator = sum)

### Congratulations on completing this analysis!